<div id="selector-tree">
	<ol class="breadcrumb">
		{{#parentSelectors}}
		<li><a>{{id}}</a></li>
		{{/parentSelectors}}
	</ol>
	<table class="table table-bordered table-condensed table-hover">
		<thead>
			<tr>
				<th>Идентификатор</th>
				<th>CSS селектор</th>
				<th style="width:60px">Тип</th>
				<th style="width:60px">Множественность</th>
				<th>Родительские селекторы</th>
				<th style="width:295px">Действия</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
	<button action="add-selector" type="button" class="btn btn-primary btn-xs">Добавить новый селектор</button>
</div>
