<tr>
	<td>{{id}}</td>
	<td>{{selector}}</td>
	<td>{{ru_type}}</td>
	<td>{{multiple}}</td>
	<td>{{parentSelectors}}</td>
	<td>
		<button action="preview-selector" type="button" class="btn btn-primary btn-xs">Элементы</button>
		<button action="data-preview-selector" type="button" class="btn btn-primary btn-xs">Данные</button>
		<button action="edit-selector" type="button" class="btn btn-primary btn-xs">Изменить</button>
		<button action="delete-selector" type="button" class="btn btn-primary btn-xs">Удалить</button>
	</td>
</tr>
