<form class="form-horizontal" role="form" id="edit-selector">
	<div class="form-group">
		<label for="selectorId" class="col-sm-2 control-label">Идентификатор</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" name="id" id="selectorId" placeholder="Идентификатор селектора" value="{{selector.id}}" />
		</div>
	</div>

	<div class="form-group">
		<label for="type" class="col-sm-2 control-label">Тип</label>

		<div class="input-group col-sm-8">
			<select class="form-control" id="type" name="type">
				{{#selectorTypes}}
				<option value="{{type}}">{{title}}</option>
				{{/selectorTypes}}
			</select>
		</div>
	</div>

	<div class="form-group feature feature-selector">
		<label for="selector" class="col-sm-2 control-label">CSS селектор</label>

		<div class="col-sm-8">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" action="select-selector" type="button">Выбрать</button>
					<button class="btn btn-default" action="preview-selector" type="button" data-toggle="button">Предпросмотр элемента</button>
					<button class="btn btn-default" action="preview-selector-data" type="button">Предпросмотор данных</button>
				</span>
				<input type="text" class="form-control selector-value" id="selector" name="selector" value="{{selector.selector}}" />
			</div>
		</div>
	</div>

	<div class="form-group feature feature-clickElementSelector">
		<label for="clickElementSelector" class="col-sm-2 control-label">Селектор клика</label>

		<div class="col-sm-8">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" action="select-selector" type="button">Выбрать</button>
					<button class="btn btn-default" action="preview-click-element-selector" type="button" data-toggle="button">Предпросмотр элемента</button>
				</span>
				<input type="text" class="form-control selector-value" id="clickElementSelector" name="clickElementSelector" value="{{selector.clickElementSelector}}" />
			</div>
		</div>
	</div>

	<!-- tableHeaderSelector -->
	<div class="form-group feature feature-tableHeaderRowSelector">
		<label for="tableHeaderRowSelector" class="col-sm-2 control-label">Селектор строки заголовка</label>
		<div class="col-sm-8">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" action="select-table-header-row-selector" type="button">Выбрать</button>
					<button class="btn btn-default" action="preview-table-row-selector" type="button" data-toggle="button">Предпросмотр элемента</button>
					<button class="btn btn-default" action="refresh-header-row-selector" title="Refresh if you manually changed the selector" type="button">Обновить</button>
				</span>
				<input type="text" class="form-control selector-value" id="tableHeaderRowSelector" name="tableHeaderRowSelector" value="{{selector.tableHeaderRowSelector}}" />
			</div>
		</div>
	</div>

	<!-- tableRowSelector -->
	<div class="form-group feature feature-tableDataRowSelector">
		<label for="tableDataRowSelector" class="col-sm-2 control-label">Селектор строк с данными</label>
		<div class="col-sm-8">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" action="select-table-data-row-selector" type="button">Выбрать</button>
					<button class="btn btn-default" action="preview-table-row-selector" type="button" data-toggle="button">Предпросмотр элементов</button>
				</span>
				<input type="text" class="form-control selector-value" id="tableDataRowSelector" name="tableDataRowSelector" value="{{selector.tableDataRowSelector}}" />
			</div>
		</div>
	</div>

	<!-- tableAddMissingColumns -->
	<div class="form-group feature feature-tableAddMissingColumns">
		<label for="tableAddMissingColumns" class="col-sm-2 control-label">Извлечь недостающие колонки</label>
		<div class="col-sm-8">
			<div class="checkbox">
				<label>
					<input id="tableAddMissingColumns" type="checkbox" name="tableAddMissingColumns" {{#selector.tableAddMissingColumns}} checked="checked"
					{{/selector.tableAddMissingColumns}}>
				</label>
			</div>
		</div>
	</div>

	<!-- verticalTable -->
	<div class="form-group feature feature-verticalTable">
		<label for="verticalTable" class="col-sm-2 control-label">Это вертикальная таблица</label>
		<div class="col-sm-8">
			<div class="checkbox">
				<label>
					<input type="checkbox" id="verticalTable" name="verticalTable" {{#selector.verticalTable}} checked="checked" {{/selector.verticalTable}}>
				</label>
			</div>
		</div>
	</div>

	<!-- ClickType -->
	<div class="form-group feature feature-clickType">
		<label for="clickType" class="col-sm-2 control-label">Тип клика</label>

		<div class="input-group col-sm-8">
			<select class="form-control" id="clickType" name="clickType">
				<option value="clickOnce">Кликнуть один раз (страницы, вкладки)</option>
				<option value="clickMore"
					>Кликнуть много (Нажмите, чтобы загрузить больше элементов. Останавливается, когда не найдено новых элементов с уникальным текстовым содержимым.)
				</option>
			</select>
		</div>
	</div>

	<!-- Pagination Limit -->
	<div class="form-group feature feature-paginationLimit">
		<label for="paginationLimit" class="col-sm-2 control-label">Лимит страниц</label>

		<div class="col-sm-8">
			<input type="text" class="form-control" name="paginationLimit" id="paginationLimit" placeholder="пустой = бесконечно" value="{{selector.paginationLimit}}" />
		</div>
	</div>

	<!-- clickElementUniquenessType -->
	<div class="form-group feature feature-clickElementUniquenessType">
		<label for="clickElementUniquenessType" class="col-sm-2 control-label">Уникальность элементов клика</label>
		<div class="input-group col-sm-8">
			<select class="form-control" id="clickElementUniquenessType" name="clickElementUniquenessType">
				<option value="uniqueText">Уникальный текст</option>
				<option value="uniqueHTMLText">Уникальный HTML и текст</option>
				<option value="uniqueHTML">Уникальный HTML</option>
				<option value="uniqueCSSSelector">Уникальный CSS Selector</option>
			</select>
		</div>
	</div>

	<div class="form-group feature feature-multiple">
		<label for="multiple" class="col-sm-2 control-label">Выбрать много</label>
		<div class="col-sm-8">
			<div class="checkbox">
				<label>
					<input id="multiple" type="checkbox" name="multiple" {{#selector.multiple}} checked="checked" {{/selector.multiple}}>
				</label>
			</div>
		</div>
	</div>

	<!-- discardInitialElements -->
	<div class="form-group feature feature-discardInitialElements">
		<label for="discardInitialElements" class="col-sm-2 control-label">Отменить элементы</label>
		<div class="col-sm-8">
			<div class="checkbox">
				<label>
					<input id="discardInitialElements" type="checkbox" name="discardInitialElements" {{#selector.discardInitialElements}} checked="checked"
					{{/selector.discardInitialElements}}> Отменить начальные элементы, которые доступны до нажатия
				</label>
			</div>
		</div>
	</div>

	<!-- downloadImage -->
	<div class="form-group feature feature-downloadImage">
		<label for="downloadImage" class="col-sm-2 control-label">Сохранить картинку</label>
		<div class="col-sm-8">
			<div class="checkbox">
				<label>
					<input id="downloadImage" type="checkbox" name="downloadImage" {{#selector.downloadImage}} checked="checked" {{/selector.downloadImage}}>
				</label>
			</div>
		</div>
	</div>
	<!-- downloadDocument-->
	<div class="form-group feature feature-downloadDocument">
		<label for="downloadDocument" class="col-sm-2 control-label">Сохранить документ</label>
		<div class="col-sm-8">
			<div class="checkbox">
				<label>
					<input id="downloadDocument" type="checkbox" name="downloadDocument" {{#selector.downloadDocument}} checked="checked" {{/selector.downloadDocument}}>
				</label>
			</div>
		</div>
	</div>

	<!-- extractAttribute -->
	<div class="form-group feature feature-extractAttribute">
		<label for="extractAttribute" class="col-sm-2 control-label">Имя атрибута</label>

		<div class="col-sm-8">
			<input
				type="text"
				class="form-control"
				name="extractAttribute"
				id="extractAttribute"
				placeholder="Имя аттрибута для извлечения"
				value="{{selector.extractAttribute}}"
			/>
		</div>
	</div>

	<!-- value -->
	<div class="form-group feature feature-value">
		<label for="value" class="col-sm-2 control-label">Значение</label>

		<div class="col-sm-8">
			<input type="text" class="form-control" name="value" id="value" placeholder="Значения текста для вставки" value="{{selector.value}}" />
		</div>
	</div>

	<!-- extractStyle -->
	<div class="form-group feature feature-extractStyle">
		<label for="extractStyle" class="col-sm-2 control-label">Имя стиля</label>

		<div class="col-sm-8">
			<input type="text" class="form-control" name="extractStyle" id="extractStyle" placeholder="Имя атрибута для извлечения" value="{{selector.extractStyle}}" />
		</div>
	</div>

	<div class="form-group feature feature-textmanipulation">
		<label class="col-sm-2 control-label">Преобразования строки</label>
		<div class="col-sm-8">
			<div class="form-inline">
				<label
					>Регулярное выражение:<input
						type="text"
						class="form-control col-sm-8"
						name="regex"
						id="regex"
						placeholder="Регулярное выражение"
						value="{{selector.textmanipulation.regex}}"
				/></label>

				<label
					>Группа регулярного выражения:<input
						type="text"
						class="form-control col-sm-2"
						name="regexgroup"
						id="regexgroup"
						placeholder="0"
						value="{{selector.textmanipulation.regexgroup}}"
				/></label>

				<span class="help-block" style="margin-top: -5px;">Перед применением регулярного выражения текст будет обрезан.</span>
			</div>
			<div class="checkbox">
				<label
					><input type="checkbox" name="removeHtml" {{#selector.textmanipulation.removeHtml}} checked="checked" {{/selector.textmanipulation.removeHtml}}> Убрать
					HTML</label
				>
			</div>
			<div class="checkbox">
				<label
					><input type="checkbox" name="trimText" {{#selector.textmanipulation.trimText}} checked="checked" {{/selector.textmanipulation.trimText}}> Обрезка текста</label
				>
			</div>
			<div class="form-inline" style="padding-top: 7px">
				<label
					>Заменить текст:<input
						type="text"
						class="form-control col-sm-6"
						name="replaceText"
						id="replaceText"
						placeholder="Выражение заменяемого текста"
						value="{{selector.textmanipulation.replaceText}}"
				/></label>

				<label
					>Замена:<input
						type="text"
						class="form-control col-sm-6"
						name="replacementText"
						id="replacementText"
						placeholder="Текст замены"
						value="{{selector.textmanipulation.replacementText}}"
				/></label>
			</div>
			<div class="form-inline">
				<label
					>Префикс текста:<input
						type="text"
						class="form-control col-sm-6"
						name="textPrefix"
						id="textPrefix"
						placeholder="Префикс"
						value="{{selector.textmanipulation.textPrefix}}"
				/></label>

				<label
					>Суффикс текста:
					<input type="text" class="form-control col-sm-6" name="textSuffix" id="textSuffix" placeholder="Суффикс" value="{{selector.textmanipulation.textSuffix}}" />
				</label>
			</div>
		</div>
	</div>

	<div class="form-group feature feature-delay">
		<label for="delay" class="col-sm-2 control-label">Задержка (ms)</label>

		<div class="col-sm-8">
			<input type="text" class="form-control" name="delay" id="delay" placeholder="Задержка" value="{{selector.delay}}" />
		</div>
	</div>

	<div class="form-group feature feature-stringReplacement">
		<label for="replace" class="col-sm-2 control-label">Преобразования строки</label>

		<div class="col-sm-8">
			<div id="replace" class="input-group">
				<label>
					Заменить текст:
					<input type="text" class="form-control col-sm-6" name="replaceString" id="replaceString" placeholder="Заменяемый текст" value="{{selector.replaceString}}" />
				</label>

				<label
					>Замена:
					<input
						type="text"
						class="form-control col-sm-6"
						name="replacementString"
						id="replacementString"
						placeholder="Текст замены"
						value="{{selector.replacementString}}"
					/>
				</label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="parentSelectors" class="col-sm-2 control-label">Родительские селекторы</label>

		<div class="input-group col-sm-8">
			<select multiple class="form-control" id="parentSelectors" name="parentSelectors">
				{{#selectorIds}}
				<option value="{{.}}">{{.}}</option>
				{{/selectorIds}}
			</select>
		</div>
	</div>

	<div class="form-group feature feature-columns">
		<label class="col-sm-2 control-label">Таблица колонок</label>

		<div class="col-sm-8">
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>Колонка</th>
						<th>Имя колонки</th>
						<th>Добавить в результат</th>
					</tr>
				</thead>
				<tbody>
					{{#selector.columns}}
					<tr>
						<td><input class="column-header" type="hidden" name="column[header][]" value="{{header}}" />{{header}}</td>
						<td><input class="column-name form-control" type="text" name="column[name][]" value="{{name}}" /></td>
						<td><input class="column-extract" type="checkbox" name="column[extract][]" {{#extract}} checked="checked" {{/extract}}></td>
					</tr>
					{{/selector.columns}}
				</tbody>
			</table>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-8">
			<button class="btn btn-primary" action="save-selector">Сохранить селектор</button>
			<button action="cancel-selector-editing" class="btn btn-default">Отмена</button>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-8"></div>
	</div>
</form>
