<!--<div id="console">Console</div>-->
<h2>Экспортировать {{_id}} данные в формате CSV</h2>
<br />

<label for="delimiter">Разделитель полей:</label>
<input id="delimiter" type="text" required value="," />
<br />

<label for="newline">Добавить новые строчки в конце?</label>
<input id="newline" type="checkbox" required checked />
<br />

<label for="utf-bom">Добавить UTF-8 BOM?</label>
<input id="utf-bom" type="checkbox" required checked />
<br />

<button id="generate-csv">Сгенерировать CSV</button>
<br />
<br />

<p class="result">Ожидание окончания процесса формирования документа с данными.</p>
<span class="download-button" href="#"><a>Скачать данные!</a></span>
