<!-- Navigation -->

<nav class="navbar navbar-default" role="navigation">
	<ul class="nav navbar-nav">
		<li><a id="sitemaps-nav-button">Список карт обхода</a></li>
		<li>
			<a id="sitemap-nav-button" class="dropdown-toggle disabled" data-toggle="dropdown">
				Карта обхода
				<span id="navbar-active-sitemap-id"></span>
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a id="sitemap-selector-list-nav-button">Селекторы</a></li>
				<li><a id="sitemap-selector-graph-nav-button">Граф селекторов</a></li>
				<li><a id="sitemap-edit-metadata-nav-button">Изменить метаданные</a></li>
				<li><a id="sitemap-scrape-nav-button">Запустить тестовый сбор</a></li>
				<li><a id="sitemap-browse-nav-button">Просмотр данных</a></li>
				<li><a id="sitemap-export-nav-button">Выгрузить карту обхода</a></li>
				<li><a id="sitemap-export-data-csv-nav-button">Выгрузить данные</a></li>
			</ul>
		</li>
		<li>
			<a id="create-sitemap-nav-button" class="dropdown-toggle" data-toggle="dropdown">Добавить карту обхода<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a id="create-sitemap-create-nav-button">Создать</a></li>
				<li><a id="create-sitemap-import-nav-button">Загрузить</a></li>
			</ul>
		</li>
	</ul>
</nav>

<div id="messages"></div>
<div id="viewport"></div>
